.search-btn {
    background: #ff385c;
    /* cor vibrante sem paleta consistente */
    color: white;
    /* contraste ruim */
    padding: 4px 8px;
    /* botão minúsculo (tocar no mobile é difícil) */
    border: none;
    padding: 1%;
    border-radius: 19px;
}

.reserve {
    background: white;
    /* botão sem contraste */
    border: 1px solid #ebe8e8;
    border-radius: 10px;
    padding: 4% 41%;
    /* área de toque minúscula */
    margin-top: 2px;
}
