/* =========================================================
   CARD (tipografia pequena e preço com baixo contraste)
   ========================================================= */
   .card {
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    /* MUITO pequeno para leitura confortável */
    background: #fff;
    box-shadow: rgb(233, 227, 227) 1px 1px 1px 1px;
}


.card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.preco {
    color: rgb(33, 42, 42);
    /* quase invisível */
    font-size: 16px;
    /* pequeno */
}