*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Facilita o cálculo das larguras e alturas incluindo bordas e padding */
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #0e0e10;
    color: #fff;
    line-height: 1.6; /*altura da linha*/
    overflow-x: hidden; /*evita scroll horizontal desnecessário*/
}
header{
    padding: 1.5rem 3rem; /*um 1 ponto de medida em (re) equivale a 16px*/
    border-bottom: 1px solid #222;/*borda da parte inferior do elemento*/
}
nav{
    display: flex;/*alinhamento horizontal*/
    justify-content: space-between;/*alinhamento vertical*/
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}
.menu{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.menu, li, a{
    color: #bbb;
    text-decoration: none;
    font-size: 0.95rem;
}
.menu, li, a:hover{
    color: #fff;
}
.hero {
    display: flex;
    flex-wrap: wrap;/*permite quebra de linha em telas pequenas*/
    align-items: center;
    justify-content: space-between;
    padding: 5rem 3rem;
    max-width: 1200px;
    margin: o auto;
}

.hero-content{
    max-width: 550px;
}

.hero-content, h1{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    line-height: 1.2;
}

.hero-content, p{
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 2rem;
}
.buttons {
    display: flex;
    gap: 1rem;
}
.btn{
    padding: o.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.primary{
    background-color: white;
    color: #0e0e10;
}
.primary:hover{
    background-color: #dcdcdc; /*primeiro dc: red / segundo dc: green /  terceiro: blue*/
}
.secondary{
    background-color: transparent;
    border: 1px solid #555;
    color: #ccc;
}
.secondary:hover{
    border-color: #888;
    color: #fff;
}

.hero-image img{
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    margin-top: 2rem;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}
.card{
    background: #111;
    padding: 2rem;
    border-radius: 1rem;
    transition: 0.3s ease;
    border: 1px solid #1f1f1f;
    box-shadow: 0 0 0 transparent;
}
.card:hover{
    background: #1a1a1a;
    transform: translate(-45px);
    box-shadow: 0 4px 15px rgba(225, 225, 225, 0.05);
}
.car img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    opacity: 0.8;
}
.card h3{
    font-size: 1.1rem;
    color: #eee;
    font-weight: 500;
}
.clients{
    max-width: 1000px;
    margin: 5rem auto;
    padding: 0 2rem;
    text-align: center;
}
.clients-text h4{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin-bottom: 0.5rem;
}
.clients-text p{
    font-size: 1rem;
    color: #888;
    margin-bottom: 2rem;
}
.clients-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}
.clients-logos img{
    height: 32px;
    opacity: 0.8;
    transition: opacity 0.3 ease;
    filter: grayscale();
}
.clients-logos img:hover{
    opacity: 1;
    filter: grayscale(0%);
}