.body {
    background-color: darkgray;
}

.botao-cartegoria {
    border-style: solid;
    border-radius: 7px;
    border-color: #264653;
    padding-bottom: 5%;
    background-color: #F8F9FA;
}

.botao-cartegoria:hover{
    cursor: pointer;
}

.botoes-cartegoria {
    margin-left: 3%;
}

.titulo-cartegoria {
    margin-left: 3%;
}

.cards-cartegoria {
    margin-left: 3%;
    display: flex;
    gap: 18px;
    margin-top: 3%;
}

.card-cartegoria {
    background-color: #F8F9FA;
    border-radius: 10px;
    padding-left: 2%;
}

.txt-cartegoria {
    color: #F4A261;
}

.footer {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-left: 2%;
    background-color: #F8F9FA;
    display: flex;
    gap: 20%;
}