.body {
    background-color: #F8F9FA;
    font-family: Montserrat;
    margin: 0%;
}

/*//////////////*/

.card-form {
    background-color: #264653;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.246);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    border-radius: 10px;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
}

.card-form h1 {
    color: white;
}
.card-form h3 {
    color: lightgray;
}


.divisor {
    border-top: 2px solid rgba(211, 211, 211, 0.568);
    width: 100%;
    margin: 20px auto;
}

/*//////////////*/

.form-cadastro {
    margin-left: 100px;
    margin-right: 100px;
}

.form-cadastro input {
    border-radius: 8px;
    border-color: lightgray;
    border-style: solid;
    padding: 10px;
}


/*//////////////*/

.header-text {
    text-align: center;
    margin-bottom: 6%;
    margin-left: 12%;
    margin-right: 12%;
}

/*//////////////*/

.forminfo h2 {
    color: white;
}

.forminfo h4 {
    color: lightgray;
}

.forminfo label {
    color: white;
}

.inputs-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.negocio {
    grid-column: 1/1;
}

.negocio input {
    width: 193%;
}

.categoria {
    grid-column: 1/2;
}

.categoria select {
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    padding: 10px;
    width: 490px;
}

.categoria select:hover{
    cursor: pointer;
}

.motoboy select {
    border-radius: 8px;
    border-color: lightgray;
    border-style: solid;
    padding: 10px;
    width: 490px;
}

.motoboy select:hover {
    cursor: pointer;
}

.desc {
    grid-column: 1/2;
}

.desc input {
    width: 178%;
    padding: 50px;
}

/*//////////////*/

.formctt h2 {
    color: white;
}

.formctt h4 {
    color: lightgray;
}

.formctt label {
    color: white;
}

.formctt h4{
    color: lightgray;
}

.inputs-ctt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.telefone {
    grid-column: 1/2;
}

.telefone input {
    width: 90%;
}

.email {
    grid-column: 2/2;
}

.email input {
    width: 90%;
}

.website {
    grid-column: 1/2;
}

.website input {
    width: 193%;
}

/*//////////////*/

.formloc h2 {
    color: white;
}

.formloc h4 {
    color: lightgray;
}

.formloc label {
    color: white;
}

.inputs-loc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.endereco input {
    width: 193%;
}

.bairro {
    grid-column: 1/2;
}

.bairro input {
    width: 90%;
}

.cidade {
    grid-column: 2/2;
}

.cidade input {
    width: 90%;
}

/*//////////////*/

.formmid h2 {
    color: white;
}

.formmid h4 {
    color: lightgray;
}

.formmid label {
    color: white;
}

.input-mid {
    display: grid;
    position: relative;
    border-style: dashed;
    border-radius: 10px;
    border-color: lightgray;
    background-color: #5AB6DA;
    margin-left: 2%;
    margin-right: 2%;
    padding: 8%;
    margin-bottom: 2%;
    place-content: center;
}

.input-mid {
    transition: background-color 0.3s ease;
}

.input-mid:hover {
    background-color: #3e819b;
}

.button-confirm:hover {
    background-color: #E58C4D;
}

.input-formmid {
    opacity: 0;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.input-formmid:hover {
    cursor: pointer;
}

/*//////////////*/

.end-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    padding: 2%;
}

.end-buttons button {
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.button-cancel {
    background-color: rgb(186, 43, 43);
}

.button-confirm {
    background-color: #F4A261;
}

button {
    transition: background-color 0.3s ease;
}

.button-cancel:hover {
    background-color: rgb(150, 30, 30);
}

.button-confirm:hover {
    background-color: #E58C4D;
}
