.body {
    background-color: #F8F9FA;
    font-family: Montserrat;
    margin: 0%;
}

/*//////////////*/

.card-form {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.246);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    border-radius: 10px;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
}

.divisor {
    border-top: 2px solid rgba(211, 211, 211, 0.568);
    width: 100%;
    margin: 20px auto;
}

/*//////////////*/

.form-cadastro {
    margin-left: 100px;
    margin-right: 100px;
}

.form-cadastro input {
    border-radius: 8px;
    border-color: gray;
    border-style: solid;
    padding: 10px;
}

/*//////////////*/

.header-text {
    text-align: center;
    margin-bottom: 6%;
    margin-left: 12%;
    margin-right: 12%;
}

/*//////////////*/

.inputs-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.negocio {
    grid-column: 1/1;
}

.negocio input {
    width: 90%;
}

.categoria {
    grid-column: 2/2;
}

.categoria select {
    border-radius: 8px;
    border-color: gray;
    border-style: solid;
    padding: 10px;
    width: 90%;
}

.desc {
    grid-column: 1/2;
}

.desc input {
    width: 178%;
    padding: 50px;
    text-align: center;
}

/*//////////////*/

.formctt {
    border: 10px;
    border-color: black;
}

.inputs-ctt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.telefone {
    grid-column: 1/2;
}

.telefone input {
    width: 90%;
}

.email {
    grid-column: 2/2;
}

.email input {
    width: 90%;
}

.website {
    grid-column: 1/2;
}

.website input {
    width: 193%;
}

/*//////////////*/

.inputs-loc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.endereco input {
    width: 193%;
}

.bairro {
    grid-column: 1/2;
}

.bairro input {
    width: 90%;
}

.cidade {
    grid-column: 2/2;
}

.cidade input {
    width: 90%;
}

/*//////////////*/

.input-mid {
    display: grid;
    position: relative;
    border-style: dashed;
    border-radius: 10px;
    border-color: lightgray;
    background-color: #b2c5e360;
    margin-left: 2%;
    margin-right: 2%;
    padding: 8%;
    margin-bottom: 2%;
    place-content: center;
}

.input-formmid {
    opacity: 0;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.input-formmid:hover {
    cursor: pointer;
}

/*//////////////*/

.end-buttons {
    display: flex;
    gap: 18px;
    padding: 2%;
}

.end-buttons button {
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.button-cancel {
    background-color: lightgray;
}

.button-confirm {
    background-color: rgb(240, 162, 128);
}