.container{
    font-family: sans-serif;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 35%;
    box-shadow: 5px 5px 5px 5px lightgray;
    margin-top: 5%;
}
.input {
    border-radius: 4px;
    border-color: lightgray;
}
.input:hover{
    border-color: black;
}

.botao{
    border-radius: 4px;
    border: none;
    background-color: blue;
    color: white;
}
.botao:hover{
    cursor: pointer;
}